<div class="card profiles-container">
  <h2>All Profiles</h2>

  <ul class="profiles">
    <li *ngFor="let profile of profiles">
      <a routerLink="/detail/{{profile.id}}">
        <span class="tag">{{profile.firstname}} {{profile.lastname}}</span>
      </a>
    </li>
  </ul>
</div>

<div class="card creation-container">
  <h2>Profile Creation</h2>

  <div class="form-group">
    <label for="profile-tag">Profile Tag: </label>
    <input id="profile-tag" [(ngModel)]="profile.tag" placeholder="tag">
  </div>

  <div class="form-group">
    <label for="profile-lastname">Profile Lastname: </label>
    <input id="profile-lastname" [(ngModel)]="profile.lastname" placeholder="lastname">
  </div>

  <div class="form-group">
    <label for="profile-firstname">Profile Firstname: </label>
    <input id="profile-firstname" [(ngModel)]="profile.firstname" placeholder="firstname">
  </div>

  <div class="form-group">
    <label for="profile-gender">Profile Gender: </label>
    <select id="profile-gender" [(ngModel)]="profile.gender">
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="createProfile()">CREATE PROFILE</button>
</div>
