<div class="card edition-container" *ngIf="profile">

  <h2>{{profile.firstname}} {{profile.lastname}} Details</h2>

  <div class="form-group">
    <label for="profile-tag">Profile Tag: </label>
    <input id="profile-tag" [(ngModel)]="profile.tag" placeholder="tag">
  </div>

  <div class="form-group">
    <label for="profile-lastname">Profile Lastname: </label>
    <input id="profile-lastname" [(ngModel)]="profile.lastname" placeholder="lastname">
  </div>

  <div class="form-group">
    <label for="profile-firstname">Profile Firstname: </label>
    <input id="profile-firstname" [(ngModel)]="profile.firstname" placeholder="firstname">
  </div>

  <div class="form-group">
    <label for="profile-gender">Profile Gender: </label>
    <select id="profile-gender" [(ngModel)]="profile.gender">
      <option value="MALE">MALE</option>
      <option value="FEMALE">FEMALE</option>
    </select>
  </div>

  <div class="form-group">
    <label for="profile-createdAt">Profile createdAt: </label>
    <input id="profile-createdAt" [(ngModel)]="profile.createdAt" placeholder="createdAt" disabled>
  </div>

  <div class="buttons">
    <button class="btn btn-primary" (click)="modify()">MODIFY</button>
    <button class="btn btn-danger" (click)="delete()">DELETE</button>
    <button class="btn btn-primary btn-outline" (click)="goBack()">BACK</button>
  </div>

</div>
