div {
    color: grey;
}

.message-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

h2 {
  margin: .25rem;
  font-weight: bolder;
  color: rgb(60,60,60);
}

.clear {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}
