<div class="message-container">

  <h2>Messages</h2>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

  <button class="btn btn-primary btn-outline clear" (click)="messageService.clear()">Clear messages</button>
</div>
