*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(250,250,250);
  --color: hsl(200, 50%, 50%);
}

h1, h2 {
  color: var(--color);
}

h2 {
  margin: .25rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  color: gray;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-root {
  min-width: 75vw;
}

app-root > * {
  width: 100%;
}

.btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 0.5rem;
}

.btn-primary {
  --hover-color: hsl(200, 50%, 60%);
  --outline-hover-color: hsl(200, 50%, 90%);
}

.btn-danger {
  --color-red: hsl(0, 50%, 50%);
  --hover-color: hsl(0, 50%, 60%);
  --outline-hover-color: hsl(0, 50%, 90%);
}

.btn.btn-primary {
  background: var(--color);
  color: white;
  padding: .5em .75em;
  border-radius: .25em;
}
.btn.btn-danger {
  background: var(--color-red);
  color: white;
  padding: .5em .75em;
  border-radius: .25em;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: var(--hover-color);
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
  background: var(--hover-color);
}

.btn.btn-primary.btn-outline {
  background: none;
  color: var(--color);
  border: 1px solid var(--color);
}

.btn.btn-primary.btn-outline:hover, .btn.btn-primary.btn-outline:focus {
  background: var(--outline-hover-color);
}

.card {
  box-shadow: 0 2px 5px 0 #000;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: .5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group + .form-group {
  margin-top: 10px;
}
